.head {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	border: 1px solid;
}
html{
    background-color: #bb724766;
}
body {
    background-color: bisque;
	text-align: center;
	padding-top: 2rem;
	border: 1px solid;
}

.logo:hover {
	font-size: 5em;
	transition-duration: 1s;
	transform: rotate(1turn);
}

.chat {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
}

.txt-area {
	width: 45%;
}

.dialogue {
	width: 65%;
	background-color: #DCDCDC;
	height: 18rem;
	overflow: scroll;
	overflow-x: hidden;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#map {
	width: 500px;
	height: 500px;
	margin: auto;
}

#button {
	padding-bottom: 2rem;
}

.gp {
	display: flex;
	justify-content: center;
}

#result {
	width: 100%;
	height: 50%;
	border-radius: 100px / 50px;
	align-self: center;
}
.spinner-border{
    display: none;
    align-self: center;
}